language: python
python:
  - '3.7'
  - '3.8'
  - '3.9'
dist: xenial
sudo: true
install:
  - pip install -r test-requirements.txt
  - pip install codecov
script:
  - pytest --cov toggl -m unit
#  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then pytest --cov toggl -m integration; fi
after_success:
  - codecov
deploy:
  - provider: pypi
    user: AuHau-deploy
    distributions: sdist bdist_wheel
    skip_existing: true
    password:
      secure: jFzpBrVs69oMM/Ig16Q2pdo9ihK8330fpkF8wAdKq4O+nuNB7AntORjxFUh0PBvEwkfvvwML7HMnvlP8i8IMTaJoPvPYqAJYbNrUiG1SZj3AkufG6fyJ9LH8xU1iL5WB0MKjXDqcRGx+prjwp6HJkuYcgKYm8Mi5g8ydy7o+GtF2TYIWlfi7EzpkvIJJADxQvF5qUmKubz3AcIdfVQSjKiw4u30HIKHxEkqs6yDetNffTLz5MGiUTxkGIvgy7LsjTCwR92iDqNUZJdAG6lt3Zlu5T+mdh90ezk/AF7m6GMHmx+A77cnYPyblTaLdKmHGEmAgQeTdkqIi/bMQnf6hw4K2ntuqyQVeRfps4e5mEqs0jCYAQ+SNP5oMT0PS/D6faq930Si2Zdn2SVHi+S1n6FyH4Xh3rtn1/cymD5YhM02LeFgfTummHPI3dW8L1UZXD5SIRPvWRPiBqs5DjMFzWKZLgq7miMZrlu6b56rtI9FwryPXlvx9q6lN4tK+fG9XqYkEF5qmSurefTLxOeNm1wu+GBUr+hSPkY4eJOj3f7gzBPGWqruBMawFFY8ZS/CHCoBwHCWfkNxI594p0xUe0Hlcq0n5IrlKMmliTJfGruzVloP013AhpeeoOH5bImSeH6jShVgSdsHiva9GAetqnNK3aBKO2d3eKcbKljxel1U=
    on:
      tags: true
      repo: AuHau/toggl-cli
      python: 3.7
  - provider: releases
    api_key: ${GH_TOKEN} # This is not available because the GH_TOKEN is scoped to master which deploys triggered by tag name is not set to the branch name but tag name
    on:
      tags: true
      repo: AuHau/toggl-cli
      python: 3.7
after_deploy:
  - git config user.name "Adam Uhlir";
  - git config user.email "adam@uhlir.dev";
  - git remote add gh-token "https://${GH_TOKEN}@github.com/AuHau/toggl-cli.git";
  - git fetch gh-token && git fetch gh-token gh-pages:gh-pages;
  - mkdocs gh-deploy -v --clean --remote-name gh-token;